{%extends 'index.html'%}
{%block title%}
О нас
{%endblock%}
{%block section%}
<img src="https://phonoteka.org/uploads/posts/2021-07/1625285838_17-phonoteka-org-p-programmnii-kod-oboi-oboi-krasivo-19.jpg" alt="Development in progress" style="width:100%;height:850px;">
<div class="example">
<h3>Важно</h3>
<h5>Этот сервис был создан в рамках дисциплины "Програмная инженерия" студентами группы ПИ20-1<br>
        Проект создавался с участием троих человек: Коланьков Никита, Королев Сергей, Шалимов Константин<br>
        Проект также есть на GitHub и полностью расписан на Jira</h5><br>
<h3>Кто мы?</h3>
        <h5>Мы студенты 3 курса Финансового университета при правительстве РФ<br>
        Занимаемся многими проектами ради интереса, с целью саморазвития<br>
        Многие наши проекты размещены на GitHub, так что если интересно - ссылки в конце страницы</h5><br>
        <h3>Зачем этот сервис сделан?</h3>
        <h5>Этот сервис может пригодиться для:</h5>
        <ol>
                <li>Для быстрого изучения текстовых статей</li>
                <li>Для создания аудио книг (низкого качества озвучки, зато бесплатно)</li>
                <li>Для конвертации файлов под нужды людей с проблемами зрения</li>
                <li>Для демонстрации умения разработки Web приложений</li>
        </ol>

</div>
{%endblock%}

