{%extends 'index.html'%}
{%block title%}
Как пользоваться?
{%endblock%}
{%block section%}
<img src="https://phonoteka.org/uploads/posts/2021-07/1625285838_17-phonoteka-org-p-programmnii-kod-oboi-oboi-krasivo-19.jpg" alt="Development in progress" style="width:100%;height:850px;">
<div class="example">
    <ol>
        <ui><h2>#1 Подготовка</h2></ui>
        <h4>Для того чтобы начать конвертацию важно помнить, что сервис поддерживает два расширения<br>
        PDF и DOCX. Если же у вас другие расширения необходимо воспользоваться конвертором.</h4>
        <ui><h2>#2 Начало работы</h2></ui>
        <h4>Чтобы перейти к самой конвертации необходимо выбрать вкладку "UPLOADER".<br>
        В ней и будет происходить крнвертация.</h4>
        <ui><h2>#3 Как конвертировать</h2></ui>
        <h4>Далее нет ничего сложного: Нажимаем на кнопку "Выбрать файл", выбираем, как не странно, файл который хотим конвертировать.<br>
        Нажимаем отправить.</h4>
        <ui><h2>#4 Получение файла</h2></ui>
        <h4>Чтобы получить конвертированный файл надо только подождать. Как только исходный файл будет конвертирован - вы получите конечный файл.<br>
        Загрузка начнется автоматически.</h4>
        <ui><h2>#5 И что? Это Всё?</h2></ui>
        <h4>Ну да, а что? Кто-то расчитывал на книгу пользователя и подробный гайд по операцонной системе?<br>
        У тебя есть интернет , надо - разберешься.<br></h4>
        <p>Что, нет интернета? А как ты сюда попал?</p>
    </ol>
</div>
{%endblock%}
